In [105]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import warnings
warnings.filterwarnings("ignore")

In [106]:
tree_fxd_df = pd.read_csv("p1/p1.treeFXD.txt", sep = "\t", header=None)
tree_gzd_df = pd.read_csv("p1/p1.treeGZD.txt", sep = "\t", header=None)
graph_fxd_df = pd.read_csv("p1/p1.graphFXD.txt", sep = "\t", header=None)
graph_gzd_df = pd.read_csv("p1/p1.graphGZD.txt", sep = "\t", header=None)
baseline_gzd_df =  pd.read_csv("p1/p1GZD.txt", sep = "\t", header=None)

In [107]:
tree_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [108]:
graph_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'secrren_y'}, inplace = True)

In [109]:
tree_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'secrren_y'}, inplace = True)

In [110]:
graph_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [111]:

baseline_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [112]:
baseline_gzd_df= baseline_gzd_df.loc[((baseline_gzd_df['code_left_eye'] == 0) & (baseline_gzd_df['code_right_eye'] == 0))]

In [113]:
final_df_tree = tree_gzd_df.loc[((tree_gzd_df['code_left_eye'] == 0) & (tree_gzd_df['code_right_eye'] == 0))]

In [114]:
final_df_tree = final_df_tree.drop(['screen_x_left_eye','screen_y_left_eye','cam_x_left_eye','cam_y_left_eye',
                                    'distance_left_eye','code_left_eye','screen_x_right_eye','screen_y_right_eye','cam_x_rigth_eye', 
                                    'cam_y_right_eye', 'distance_right_eye', 'code_right_eye'],axis = 1)

In [115]:
final_df_tree.head()

    time  number  pupil_left_eye  pupil_right_eye
7    153       8           3.921            3.681
8    172       9           3.898            3.784
9    192      10           3.811            3.688
15   312      16           3.948            4.022
17   352      18           3.810            3.781

In [116]:
final_df_graph = graph_gzd_df.loc[((graph_gzd_df['code_left_eye'] == 0) & (graph_gzd_df['code_right_eye'] == 0))]

In [117]:
final_df_graph = final_df_graph.drop(['screen_x_left_eye','screen_y_left_eye','cam_x_left_eye','cam_y_left_eye',
                                    'distance_left_eye','code_left_eye','screen_x_right_eye','screen_y_right_eye','cam_x_rigth_eye', 
                                    'cam_y_right_eye', 'distance_right_eye', 'code_right_eye'],axis = 1)

In [118]:
final_df_graph.head()

    time  number  pupil_left_eye  pupil_right_eye
6    127       7           3.763            3.716
7    147       8           3.828            3.709
8    167       9           3.731            3.743
9    187      10           3.768            3.851
11   226      12           3.903            3.608

In [119]:

# chceking for negative values of pupil size in final_df_tree
neg_left_tree = sum(n<0 for n in final_df_tree['pupil_left_eye'].values.flatten())
neg_right_tree = sum(n<0 for n in final_df_tree['pupil_right_eye'].values.flatten())
print('The negative values in final_tree_df for pupil_left_eye and pupil_right_eye are {} and {}'
            .format(neg_left_tree,neg_right_tree))

The negative values in final_tree_df for pupil_left_eye and pupil_right_eye are 6 and 1

In [120]:
neg_left_graph = sum(n<0 for n in final_df_graph['pupil_left_eye'].values.flatten())
neg_right_graph = sum(n<0 for n in final_df_graph['pupil_right_eye'].values.flatten())
print('The negative values in final_tree_df for pupil_left_eye and pupil_right_eye are {} and {}'
            .format(neg_left_graph,neg_right_graph))

The negative values in final_tree_df for pupil_left_eye and pupil_right_eye are 12 and 0

In [121]:
# Dropping the negative values of pupil_left_eye from tree dataframe
final_df_tree = final_df_tree[final_df_tree.pupil_left_eye > 0]

In [122]:

# checking the number of null values 
final_df_tree['pupil_left_eye'].isnull().value_counts()

False    68416
Name: pupil_left_eye, dtype: int64

In [123]:

# Dropping the negative values of pupil_left_eye from graph dataframe
final_df_graph = final_df_graph[final_df_graph.pupil_left_eye> 0]

In [124]:
# Checking the number of null values
final_df_graph['pupil_left_eye'].isnull().value_counts()

False    88628
Name: pupil_left_eye, dtype: int64

In [125]:
# Calculating the mean of pupil size in baseline data
baseline_left_eye_mean  = baseline_gzd_df['pupil_left_eye'].mean()
baseline_right_eye_mean = baseline_gzd_df['pupil_right_eye'].mean()

In [126]:

# Calualting the average pupil size in baseline data
average_pupil_size_baseline = (baseline_left_eye_mean+baseline_right_eye_mean)/2
print('The average pupil size of the baseline data is {}'.format(average_pupil_size_baseline))

The average pupil size of the baseline data is 3.5611559139784967

In [127]:
# Calculating  average pupil dilation size of tree gaze data from pupil_left_eye and pupilt_right_eye of tree gaze data
final_df_tree['avg_dilation'] = final_df_tree[['pupil_left_eye', 'pupil_right_eye']].mean(axis=1)

In [128]:
#Subtracting the avg_dilation from the baseline data
final_df_tree['avg_dilation'] = abs(final_df_tree['avg_dilation']-average_pupil_size_baseline)

In [129]:
final_df_tree.head(10)

    time  number  pupil_left_eye  pupil_right_eye  avg_dilation
7    153       8           3.921            3.681      0.239844
8    172       9           3.898            3.784      0.279844
9    192      10           3.811            3.688      0.188344
15   312      16           3.948            4.022      0.423844
17   352      18           3.810            3.781      0.234344
18   372      19           3.782            3.712      0.185844
19   392      20           3.744            3.688      0.154844
20   412      21           3.812            3.852      0.270844
22   452      23           3.769            3.779      0.212844
23   472      24           3.785            3.636      0.149344

In [130]:

# Calculating  average pupil dilation size of graph gaze data from pupil_left_eye and pupilt_right_eye of graph gaze data
final_df_graph['avg_dilation'] = final_df_graph[['pupil_left_eye', 'pupil_right_eye']].mean(axis=1)

In [131]:
#Subtracting the avg_dilation from the baseline data
final_df_graph['avg_dilation'] = abs(final_df_graph['avg_dilation'] - average_pupil_size_baseline)

In [132]:

final_df_graph.head(10)

    time  number  pupil_left_eye  pupil_right_eye  avg_dilation
6    127       7           3.763            3.716      0.178344
7    147       8           3.828            3.709      0.207344
8    167       9           3.731            3.743      0.175844
9    187      10           3.768            3.851      0.248344
11   226      12           3.903            3.608      0.194344
12   246      13           3.900            3.743      0.260344
13   266      14           3.838            3.724      0.219844
14   286      15           3.763            3.860      0.250344
16   326      17           3.860            3.868      0.302844
17   346      18           3.844            3.804      0.262844

In [133]:

final_df_tree = final_df_tree.drop(['pupil_left_eye','pupil_right_eye'], axis = 1)

In [134]:

final_df_graph = final_df_graph.drop(['pupil_left_eye','pupil_right_eye'], axis = 1)

In [135]:
final_df_tree.head()

    time  number  avg_dilation
7    153       8      0.239844
8    172       9      0.279844
9    192      10      0.188344
15   312      16      0.423844
17   352      18      0.234344

In [139]:
final_df_graph.head()

    time  number  avg_dilation
6    127       7      0.178344
7    147       8      0.207344
8    167       9      0.175844
9    187      10      0.248344
11   226      12      0.194344

In [140]:
# Performing left join on fixation data to see change in avg_dilation with size in tree_fxd_df
merged_df_tree = pd.merge(tree_fxd_df, final_df_tree, on = 'time', how = 'left')

In [141]:
merged_df_tree.head()

   number_x  time  duration  screen_x  secrren_y  number_y  avg_dilation
0         1  2027       100      1005         60     102.0      0.213344
1         2  7968       319        78        237     400.0      0.156344
2         3  8526       100       246        207     428.0      0.101344
3         4  9105       140       298        198     457.0      0.103844
4         5  9962       140       909       1002     500.0      0.058344

In [142]:
# Performing left join on fixation data to see change in avg_dilation with size in graph_fxd_df
merged_df_graph = pd.merge(graph_fxd_df, final_df_graph, on = 'time', how = 'left')

In [143]:
merged_df_graph.head()

   number_x  time  duration  screen_x  secrren_y  number_y  avg_dilation
0         1  1104       100       728        396      56.0      0.095844
1         2  2360       179       294        807     119.0      0.039344
2         3  2858       279       281        777     144.0      0.264844
3         4  3157       120       281        785     159.0      0.277344
4         5  3297       319       275        792     166.0      0.135844

In [144]:
merged_df_tree = merged_df_tree.drop(['number_x','number_y'], axis = 1)

In [146]:
merged_df_graph = merged_df_graph.drop(['number_x','number_y'], axis = 1)

In [147]:
merged_df_tree.head()

   time  duration  screen_x  secrren_y  avg_dilation
0  2027       100      1005         60      0.213344
1  7968       319        78        237      0.156344
2  8526       100       246        207      0.101344
3  9105       140       298        198      0.103844
4  9962       140       909       1002      0.058344

In [148]:
merged_df_graph.head()

   time  duration  screen_x  secrren_y  avg_dilation
0  1104       100       728        396      0.095844
1  2360       179       294        807      0.039344
2  2858       279       281        777      0.264844
3  3157       120       281        785      0.277344
4  3297       319       275        792      0.135844

In [149]:
graph_avg_dilation_mean  = merged_df_graph['avg_dilation'].mean()

In [150]:
tree_avg_dilation_mean  = merged_df_tree['avg_dilation'].mean()

In [153]:
print(tree_avg_dilation_mean)

0.09558113975925348

In [154]:
print(graph_avg_dilation_mean)

0.1387314849733133